
* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

form {
    background-color: #fff;
    width: 400px;
    margin: auto;
    padding: 10px;
}
input,
label,
textarea {
    width: 100%;
}


label {
    float: left; 
    margin-right: 10px; 
}

button { color: blue;

}
.Names {
  

}
.group, .Names {margin-bottom: 20px;

}